*

!.gitignore
!README.md

!asset/
!asset/**

!benchmarks/
!benchmarks/**/
!benchmarks/**/*.py

!data/
!data/Training/
!data/Training/*-size/
!data/Training/*-size/**
!data/Test/
!data/Test/*-size/
!data/Test/*-size/**

!src/
!src/training.py
!src/test.py
